html {
  background-color: white;
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
  color: white;
  line-height: 1.4em;
}

header {
  background-color: black;
}

header .container {
  display: flex;
  align-items: center;
  padding: 12px 0.5em;
}

header img {
  padding-right: 15px;
  height: 1.5em;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.banner {
  background: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25em;
}

.headline {
  background: black;
  width: 20em;
  padding: 2em 3em;
  position: relative;
  top: 9em;
}

h1, h4 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0.25em 0;
}

H4 {
  margin: 1.33em 0;
}

nav {
  background: firebrick;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75em;
}

a {
  color: white;
  text-decoration: none;
}

.mobile {
  display: none;
}

.products,
.business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.product {
  width: 30%;
}

.product-image {
  border: 4px solid black;
  padding: 2em 0;
  height: 9em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  max-width: 8em;
}

.description {
  background: black;
  text-align: center;
  padding: 0.5em;
}

.info {
  width: 35%;
}

.title {
  background: black;
  padding: 1em 2em;
}

.business-info p {
  color: black;
}

footer {
  background: black;
  padding: 5em 0;
  margin-top: 4em;
}

@media only screen and (max-width: 1024px) {
  .product {
    width: 47%;
  }

  .desktop {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
    text-align: center;
  }

  .mobile {
    display: block;
  }

  .glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {

  .banner {
    height: 15em;
  }

  .headline {
    width: 100%;
    top: 10em;
    padding: 1em 2em;
    position: relative;
  }

  .headline h4 {
    font-size: 0.77em;
  }

  .headline h1 {
    font-size: 1em;
  }

  h1, h4 {
    font-weight: bold;
  }

  .glasses,
  .watch {
    display: none;
  }

  .product,
  .info {
    width: 90%;
    margin: 0.5em auto;
  }

  footer .container {
    text-align: center;
  }

  .products,
  .business-info {
    flex-wrap: wrap;
  }

}
